/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    margin: 0;
    padding: 0;
    font-family: "arial",heletica,sans-serif;
    font-size: 12px;
    background: #343a40 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
    animation-play-state: running;
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-moz-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-ms-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-o-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}
