.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .form-box {
    width: 380px;
    height: 40em;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.5;
    border-radius: 2%;
  }

 form{
  max-height: 170px;  
}

  .header-form {
    margin-bottom: 15px;
  }
  
  button {
    margin-bottom: 10px;
  }
  
  .message {
    display: flex;
    justify-content: space-between;
  }
  
  .social {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
  
    .social i {
        font-size: 35px;
    }
  
        .social i:hover {
            color: red;
            cursor: pointer;
        }
  