a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }  
  @media (min-width: 434px) {
    html {
      font-size: 14px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  


 ul {
	 list-style: none;
	 margin: 0;
	 width: 100%;
	 background-color: #beecea;
}
 ul li {
	 display: inline-block;
	 padding: 1.25rem 3rem;
	 cursor: pointer;
}
 ul li:hover, ul li.active {
	 background-color: #83dbd7;
}
 .window {
	 max-width: 1024px;
	 padding: 20px;
	 margin: auto;
}
 