.form-control-vin{
    text-transform:uppercase;
    width: 295px
}
.form-box-vin {
  width: 380px;
  height: auto;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}
  
  